<div class="book-viewer-wrapper" style="position: relative; height: 80vh;">
  
  <div #viewerContainer class="viewer-container">
    <div #pdfViewer class="pdfViewer"></div>
  </div>

  <div class="zoom-controls">
    <mat-icon id="zoom-out" (click)="zoomOut()">text_decrease</mat-icon>
    <mat-icon id="zoom-in" (click)="zoomIn()">text_increase</mat-icon> 
  </div>

  <div class="epub-controls"*ngIf="fileType === 'epub'">
    <button mat-button id="book-viewer-prev" (click)="prevPage()">Previous</button>
    <button mat-button id="book-viewer-next" (click)="nextPage()">Next</button>
  </div>
</div>

