:host {
  display: block;
  height: 100%;
}

.viewer-container {
  margin: 20px;
  height: 100%;
  position: absolute;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.epub-controls {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.spinner-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

@media (max-width: 600px) {
  .viewer-container {
    margin: 10px;
  }
}
