<div class="owner-container container mt-4" [formGroup]="form">  
  <h2>Bulk Import</h2>    

  <!-- action buttons grouped above dropdowns -->
  <div class="action-buttons mb-3">
    <button mat-button (click)="openJobsDialog()">
      <mat-icon>list_alt</mat-icon>View Jobs</button>
    <button mat-button 
            [disabled]="form.invalid || noFilesSelected"
            (click)="submit()">
      <mat-icon>cloud_download</mat-icon>Start Import
    </button>
  </div>

  <!-- integration + folder -->
  <div class="primary-selects mb-3">
    <mat-form-field appearance="fill" class="bulk-import-dropdowns">
      <mat-label>Select Integration</mat-label>
      <mat-select formControlName="integrationId" (selectionChange)="onIntegrationSelected($event.value)">
        <mat-option *ngFor="let integration of integrations" [value]="integration.id">
          {{ integration.accountEmail }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="bulk-import-dropdowns">
      <mat-label>Select Folder</mat-label>
      <mat-select 
        formControlName="folderId" 
        (selectionChange)="onFolderSelected($event.value)">
        <mat-option [value]="null">No Folder (root)</mat-option>
        <mat-option *ngFor="let folder of folders" [value]="folder.id">
          {{ folder.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <mat-divider></mat-divider>

  <app-bulk-import-table
    *ngIf="selectedIntegrationId"
    [files]="files"
    [genres]="genres"
    [ageCategories]="ageCategories"
    [globalGenreId]="globalGenreId"
    [globalAgeCategoryId]="globalAgeCategoryId"
    (filesChange)="files = $event"
    (globalGenreChange)="globalGenreId = $event"
    (globalAgeChange)="globalAgeCategoryId = $event">
  </app-bulk-import-table>

  <mat-divider></mat-divider>
  <button mat-button 
          *ngIf="files.length > 5"
          [disabled]="form.invalid || noFilesSelected"
          (click)="submit()">
    <mat-icon>cloud_download</mat-icon>Start Import
  </button>
  <br>

  <div class="info-row">  
    <mat-icon class="me-1">info</mat-icon>
    Only <strong>EPUB</strong> and <strong>PDF</strong> files are supported at this time.
  </div>
</div>
