<div class="admin-container">
  <h1>Account Settings</h1>

  <mat-tab-group>
    <mat-tab label="Manage Users">
      <router-outlet></router-outlet>
      <app-account-users></app-account-users>
    </mat-tab>

    <mat-tab label="Manage Integraions">
      <router-outlet></router-outlet>
      <app-google-drive></app-google-drive>
    </mat-tab>

    <mat-tab label="Bulk Import">
      <router-outlet></router-outlet>
      <app-bulk-import></app-bulk-import>
    </mat-tab>
  </mat-tab-group>
</div>
