.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--surface-bg);
  padding: 15px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.app-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--text-color);
  text-decoration: none;
}

.spacer {
  flex: 1 1 auto;
}

.account-text {
  font-size: 1.2rem;
  color: var(--text-color);
}

.user-menu {
  position: relative;
  size: large !important;
}

mat-icon {
  font-size: large !important;
  color: var(--text-color);
}

mat-menu {
  background-color: var(--surface-bg);
}

.mat-menu-item {
  display: flex;
  align-items: center;
}

  .mat-menu-item mat-icon {
    margin-right: 8px;
  }
