:host {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--surface-bg);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.content {
    flex-grow: 1;
}

.footer
{
  padding: 20px;
  text-align: center;
  font-size: 14px;
  color: var(--text-color);
  background-color: var(--surface-bg);
  flex-shrink: 0;
}

.footer a {
    margin-left: 20px;
    text-decoration: underline;
    color: var(--text-color);
}

.app-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--text-color);
  text-decoration: none;
}

.spacer {
  flex: 1 1 auto;
}

.account-text {
  font-size: 1.2rem;
  color: var(--text-color);
}

.mat-icon {
  color: var(--text-color) !important;
}

.user-menu {
  position: relative;
  size: large !important;
}

.logo {
  padding: 8px;
}

mat-icon {
  font-size: large !important;
  color: var(--text-color);
}

.menu-class {
  background-color: var(--surface-bg) !important;
}

button {
  background-color: var(--surface-bg) !important;
  color: var(--text-color) !important;
}

.mat-menu-item {
  display: flex;
  align-items: center;
}

  .mat-menu-item mat-icon {
    margin-right: 8px;
  }

@media (max-width: 600px) {
  .account-text {
    display: none;
  }
  
  .app-title {
    font-size: 1.2rem;
  }
}
