<div class="global-overlay" 
  *ngIf="globalLoading$ | async" 
  role="status" 
  aria-live="polite" 
  aria-label="Loading, please wait">

  <mat-spinner class="global-spinner" aria-hidden="true"></mat-spinner>
  <p class="global-message" id="loading-message">{{ globalMessage$ | async }}</p>
  <small class="global-fun-message" id="loading-fun-message">{{ globalFunMessage$ | async }}</small>
</div>

<mat-toolbar class="navbar mybooks-header" role="navigation" aria-label="Navigation Header">
  <mat-toolbar-row>
    <img src="header-logo.png" alt="My Book Catalog Logo" class="logo" />
    <a href="/" id="home" class="app-title">My Book Catalog</a>
    <span class="spacer"></span>

    <ng-container *ngIf="isAuthenticated()" class="menu-class">
      <button mat-button id="account-menu" [matMenuTriggerFor]="accountMenu" aria-label="Main Menu">
        <mat-icon>more_vert</mat-icon>
      </button>    

      <div class="menu-class">
        <mat-menu #accountMenu="matMenu" xPosition="before" yPosition="below">
          <button id="theme-menu" mat-menu-item [matMenuTriggerFor]="themeMenu" aria-label="Theme Settings">
            <mat-icon>brightness_6</mat-icon> Theme
          </button>

          <button id="my-profile" *ngIf="!(userService.canAccessGlobalReview$ | async)" mat-menu-item [routerLink]="'/profile'">
            <mat-icon>person</mat-icon> My Profile
          </button>

          <button mat-menu-item id="owner-menu" *ngIf="(userService.canAccessOwner$ | async)" [matMenuTriggerFor]="ownerMenu" aria-label="Owner Menu">
            <mat-icon>settings</mat-icon> Admin
          </button>

          <button mat-menu-item id="global-reviewer" *ngIf="(userService.hasGlobalReviewer$ | async)" (click)="switchToGlobalReviewer()">
            <mat-icon>auto_stories</mat-icon> All Content
          </button>

          <button mat-menu-item id="exit-global-reviewer" *ngIf="(userService.canAccessGlobalReview$ | async)" (click)="switchBackFromGlobalReviewer()">
            <mat-icon>home</mat-icon> My Content
          </button>

          <button mat-menu-item id="support-user" *ngIf="userService.canAccessSupport$ | async" [routerLink]="'/support'">
            <mat-icon>badge</mat-icon> MBC Support
          </button>

          <mat-divider></mat-divider>

          <button mat-menu-item id="login-btn" *ngIf="!isAuthenticated()" [routerLink]="'/login'">
            <mat-icon>login</mat-icon> Login
          </button>
          <button mat-menu-item id="logout-btn" *ngIf="isAuthenticated() && !isSupportUser" (click)="logout()">
            <mat-icon>exit_to_app</mat-icon> Logout
          </button>
        </mat-menu>

        <mat-menu #ownerMenu="matMenu">
          <button mat-menu-item id="manage-users" [routerLink]="'/account/users'">
            <mat-icon>group</mat-icon> Users
          </button>
          <button mat-menu-item id="manage-categories" [routerLink]="'/account/genres-series'">
            <mat-icon>category</mat-icon> Categories
          </button>
          <mat-divider></mat-divider>
          <button mat-menu-item id="manage-integrations" [routerLink]="'/account/integrations'">
            <mat-icon>link</mat-icon> Integrations
          </button>
          <button mat-menu-item id="bulk-import" [routerLink]="'/account/bulk-import'">
            <mat-icon>cloud_download</mat-icon> Bulk Import
          </button>
        </mat-menu>

        <mat-menu #themeMenu="matMenu">
          <button id="light-theme" mat-menu-item (click)="setTheme('light')">
            <mat-icon *ngIf="isLightTheme">check</mat-icon> Light
          </button>
          <button id="dark-theme"  mat-menu-item (click)="setTheme('dark')">
            <mat-icon *ngIf="isDarkTheme">check</mat-icon> Dark
          </button>
          <button id="contrast-theme" mat-menu-item (click)="setTheme('contrast')">
            <mat-icon *ngIf="isContrastTheme">check</mat-icon> High-Contrast
          </button>
        </mat-menu>
      </div>
    </ng-container>
  </mat-toolbar-row>
</mat-toolbar>

<main class="content">
  <app-toast></app-toast>
  <router-outlet></router-outlet>
</main>

<footer *ngIf="!isSupportUser" class="footer" role="contentinfo">
  <span>&copy; 2025 My Books</span>
  <a id="aup-link" routerLink="/aup">Acceptable Use Policy</a>
  <a id="terms-link" routerLink="/terms">Terms of Service</a>
  <a id="privacy-link" routerLink="/privacy">Privacy Policy</a>
  <a id="report-abuse-btn" routerLink="/report-abuse" [queryParams]="{ url: currentUrl }">Report Abuse</a>
</footer>

<footer *ngIf="isSupportUser" class="impersonation-banner">
  <span (click)="endSupportSession()">You are current impersonating a user or tenant support user. Click here to end Support session.</span>
</footer>
