<div class="container mt-4">
  <h2>Users</h2>

  <table mat-table [dataSource]="users" class="mat-elevation-z8">
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef>First Name</th>
      <td mat-cell *matCellDef="let user">
        <span *ngIf="!(editingUserId === user.id && editingField === 'firstName')" (click)="startEdit(user.id, 'firstName')">
          {{ user.firstName }}
        </span>
        <input *ngIf="editingUserId === user.id && editingField === 'firstName'"
               [value]="user.firstName"
               (blur)="saveEdit(user, 'firstName', $event)" />
      </td>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef>Last Name</th>
      <td mat-cell *matCellDef="let user">
        <span *ngIf="!(editingUserId === user.id && editingField === 'lastName')" (click)="startEdit(user.id, 'lastName')">
          {{ user.lastName }}
        </span>
        <input *ngIf="editingUserId === user.id && editingField === 'lastName'"
               [value]="user.lastName"
               (blur)="saveEdit(user, 'lastName', $event)" />
      </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let user">
        <span *ngIf="!(editingUserId === user.id && editingField === 'email')" (click)="startEdit(user.id, 'email')">
          {{ user.email }}
        </span>
        <input *ngIf="editingUserId === user.id && editingField === 'email'"
               [value]="user.email"
               type="email"
               (blur)="saveEdit(user, 'email', $event)" />
      </td>
    </ng-container>

    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef>Role</th>
      <td mat-cell *matCellDef="let user">
        <span *ngIf="!(editingUserId === user.id && editingField === 'role')" (click)="startEdit(user.id, 'role')">
          {{ user.role }}
        </span>
        <select *ngIf="editingUserId === user.id && editingField === 'role'"
                (blur)="saveEdit(user, 'role', $event)">
          <option *ngFor="let role of roles" [value]="role" [selected]="role === user.role">{{ role }}</option>
        </select>
      </td>
    </ng-container>

    <ng-container matColumnDef="ageCategoryId">
      <th mat-header-cell *matHeaderCellDef>Age Category</th>
      <td mat-cell *matCellDef="let user">
        <span *ngIf="!(editingUserId === user.id && editingField === 'ageCategoryId')" (click)="startEdit(user.id, 'ageCategoryId')">
          {{ user.ageCategoryName || 'Unknown' }}
        </span>
        <select *ngIf="editingUserId === user.id && editingField === 'ageCategoryId'"
                (blur)="saveEdit(user, 'ageCategoryId', $event)">
          <option *ngFor="let category of ageCategories" [value]="category.id" [selected]="category.id === user.ageCategoryId">
            {{ category.name }}
          </option>
        </select>
      </td>
    </ng-container>


    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let user">
        <button mat-icon-button (click)="deleteUser(user.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['firstName', 'lastName', 'email', 'role', 'ageCategoryId', 'actions']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['firstName', 'lastName', 'email', 'role', 'ageCategoryId', 'actions'];"></tr>
  </table>
</div>

