<div class="container mt-4">
  <div class="book-wrapper">
    <button mat-button id="book-list" routerLink="/">
      <mat-icon>list</mat-icon>Back to List
    </button>
  </div>

  <div *ngIf="unauthorized" class="unauthorized-message">
    <mat-card class="unauthorized-card">
      <mat-card-title>Error</mat-card-title>
      <p>This book does not exist or you do not have permission to view this book</p>
    </mat-card>
  </div>

  <div *ngIf="!unauthorized" class="book-container">
    <mat-card class="book-details-card">
      <mat-card-title>{{ book?.title }}</mat-card-title>
      <div *ngIf="book" class="book-details-container">
        <p><strong>Author:</strong> {{ book.author || 'Unknown' }}</p>
        <p><strong>Series:</strong> {{ book.series?.name || '' }}</p>
        <p><strong>Series Position:</strong> Book #{{book.seriesPosition ||'N/A'}}</p>
        <p><strong>Genre:</strong> {{ book.genre?.name || 'Unknown' }}</p>
        <p><strong>Age Category:</strong> {{ book.ageCategory?.name || 'Unknown' }}</p>
        <p><strong>Location:</strong> {{ book.location || 'Unknown' }}</p>
        <p><strong>Description:</strong> {{ book.description || 'Unknown' }}</p>
        <p><strong>ISBN:</strong> {{ book.isbn || 'Unknown' }}</p>
        <div *ngIf="book.fileId">
          <p><strong>Book File: </strong>
          <button mat-button (click)="downloadBookFile(book.fileId)">Download</button></p>
          <button mat-button [routerLink]="['/book-viewer', book.fileId]">
          Read</button>

        </div>
      </div>
    </mat-card>
    <div class="button-group" *ngIf="hasEditDeletePermission()">
      <button mat-raised-button id="edit-book" (click)="editBook(book)">Edit</button>
      <button mat-raised-button id="danger-button" (click)="deleteBook(book)">Delete</button>
    </div>
  </div>
</div>
