.container {
  max-width: 80%;
  margin: 0 auto;
  padding: 20px;
}

.book-wrapper {
  position: relative;
  margin-bottom: 50px;
}

.book-container,
.unauthorized-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

mat-card-title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.book-details-card,
.unauthorized-card {
  width: 500px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  background-color: var(--bg-color);
}

@media (max-width: 600px) {
  .book-details-card,
  .unauthorized-card {
    width: 90%;
  }
}

#book-list {
  position: absolute;
  right: 10px;
  background-color: var(--button-bg);
  color: var(--button-text);
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

#danger-button {
  background-color: var(--warn);
  color: var(--button-text);
}

#edit-book {
  background-color: var(--primary);
  color: var(--button-text);
}

button {
  margin-right: 10px;
}
