<div class="container mt-4">
  <div class="book-wrapper">
    <button mat-button id="book-list" routerLink="/">
      <mat-icon>list</mat-icon>Back to List
    </button>
  </div>

  <div class="book-container">
    <mat-card class="book-details-card">
      <mat-card-title>{{ book.title }}</mat-card-title>
      <div *ngIf="book" class="book-details-container">
        <p><strong>Author:</strong> {{ book.author || 'Unknown' }}</p>
        <p><strong>Series:</strong> {{ book.series?.name || '' }}</p>
        <p><strong>Series Position:</strong> Book: {{book.seriesPosition ||'Unknown'}}</p>
        <p><strong>Genre:</strong> {{ book.genre?.name || 'Unknown' }}</p>
        <p><strong>Age Category:</strong> {{ book.ageCategory?.name || 'Unknown' }}</p>
        <p><strong>Location:</strong> {{ book.location || 'Unknown' }}</p>
        <p><strong>Description:</strong> {{ book.description || 'Unknown' }}</p>
        <p><strong>ISBN:</strong> {{ book.isbn || 'Unknown' }}</p>
      </div>
    </mat-card>
    <div class="button-group">
      <button mat-raised-button id="edit-book" (click)="editBook(book)">Edit</button>
      <button mat-raised-button id="danger-button" (click)="deleteBook(book)">Delete</button>
    </div>
  </div>
</div>
