<div class="container mt-4">
  <div class="book-wrapper">
    <button mat-button id="book-list" routerLink="/">
      <mat-icon>list</mat-icon>Back to List
    </button>
  </div>

  <div *ngIf="book" class="book-details-container">
    <h2>{{ book.title }}</h2>
    <p><strong>Author:</strong> {{ book.author || 'Unknown' }}</p>
    <p><strong>Series:</strong> {{ book.series?.name || '' }}</p>
    <p><strong>Genre:</strong> {{ book.genre?.name || 'Unknown' }}</p>
    <p><strong>Age Category:</strong> {{ book.ageCategory?.name || 'Unknown' }}</p>
    <p><strong>Location:</strong> {{ book.location || 'Unknown' }}</p>
    <p><strong>Description:</strong> {{ book.description || 'Unknown' }}</p>
    <p><strong>ISBN:</strong> {{ book.isbn || 'Unknown' }}</p>
  </div>
  <button mat-raised-button id="edit-book" (click)="editBook(book)">Edit</button>
  <button mat-raised-button id="danger-button" (click)="deleteBook(book)">Delete</button>
</div>
