<div class="owner-container container mt-4">
  <h2>Manage Integrations</h2>

  <button mat-button (click)="connect()">
    <mat-icon>cloud</mat-icon> Connect Google Drive
  </button>

  <table mat-table [dataSource]="integrations" multiTemplateDataRows class="mat-elevation-z8 mt-3">
    <ng-container matColumnDef="cloudService">
      <th mat-header-cell *matHeaderCellDef class="hide-mobile">Cloud Service</th>
      <td mat-cell *matCellDef="let integration" class="hide-mobile">Google Drive</td>
    </ng-container>
    <ng-container matColumnDef="accountEmail">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let integration">{{ integration.accountEmail }}</td>
    </ng-container>

    <ng-container matColumnDef="createdDate">
      <th mat-header-cell *matHeaderCellDef class="hide-mobile">Created</th>
      <td mat-cell *matCellDef="let integration" class="hide-mobile">
        {{ integration.createdDate | date:'mediumDate' }}
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let integration">
        <div class="actions-column">
          <button mat-button id="remove-integration" class="warn-btn" (click)="remove(integration)">Remove</button>
          <button mat-button id="select-integration-folder" (click)="openGooglePicker(integration)">Select Folder(s)</button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['cloudService','accountEmail','createdDate','actions']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['cloudService','accountEmail','createdDate','actions'];"></tr>
  </table>
</div>
