<div class="stepper-container" style="position: relative;">
  <mat-stepper linear>
    <!-- Step 1: Required Info -->
    <mat-step [stepControl]="bookForm.controls['step1']">
      <form [formGroup]="step1">
        <h3>Step 1: Required Information</h3>
        <mat-form-field class="full-width">
          <mat-label>Title</mat-label>
          <input matInput type="text" formControlName="title" required>
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Genre</mat-label>
          <mat-select formControlName="genreId" required>
            <mat-option *ngFor="let genre of genres" [value]="genre.id">{{ genre.name }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Age Category</mat-label>
          <mat-select formControlName="ageCategoryId" required>
            <mat-option *ngFor="let category of ageCategories" [value]="category.id">{{ category.name }}</mat-option>
          </mat-select>
        </mat-form-field>

        <button mat-button (click)="saveStep1()" matStepperNext>Save & Next</button>
      </form>
    </mat-step>

    <!-- Step 2: Optional Fields -->
    <mat-step [stepControl]="bookForm.controls['step2']">
      <form [formGroup]="step2">
        <h3>Step 2: Optional Fields for {{ step1.get('title')?.value }}</h3>
        <mat-form-field class="full-width">
          <mat-label>Author</mat-label>
          <input matInput type="text" formControlName="author">
        </mat-form-field>

        <div class="inline-group">
          <button 
            mat-icon-button type="button" 
            (click)="toggleNewSeries()" 
            aria-label="New series toggle"
            matTooltip="{{ newSeries ? 'Cancel' : 'Add new series' }}">
            <mat-icon>{{ newSeries ? 'remove' : 'add' }}</mat-icon>
          </button>
          <mat-form-field class="full-width">            
            <mat-label>Series</mat-label>
            <mat-select formControlName="seriesId">
              <mat-option *ngFor="let series of seriesList" [value]="series.id">{{ series.name }}</mat-option>
            </mat-select>            
          </mat-form-field>
          <button
            *ngIf="step2.get('seriesId')?.value != null"
            mat-icon-button type="button"
            (click)="removeSeries()"
            aria-label="Remove series"
            matTooltip="Remove series">
            <mat-icon>clear</mat-icon>
          </button>
        </div>

        <div *ngIf="newSeries">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>New Series</mat-label>
            <input matInput type="text" formControlName="seriesName" />
            <button mat-icon-button type="button" (click)="saveSeries()">
              <mat-icon>save</mat-icon>
            </button>
          </mat-form-field>
        </div>

        <mat-form-field class="full-width" *ngIf="step2.get('seriesId')?.value != null">
          <mat-label>Series Position</mat-label>
          <input matInput type="number" formControlName="seriesPosition">
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>ISBN</mat-label>
          <input matInput type="text" formControlName="isbn">
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Published Year</mat-label>
          <input 
            matInput 
            type="number" 
            formControlName="publishedDate"
            placeholder="YYYY"
            [min]="1000"
            [max]="9999">
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Location</mat-label>
          <textarea matInput formControlName="location"></textarea>
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Description</mat-label>
          <textarea matInput rows="3" formControlName="description"></textarea>
        </mat-form-field>

        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="saveStep2()" matStepperNext>Save & Next</button>
      </form>
    </mat-step>

    <!-- Step 3: File Upload -->
    <mat-step [stepControl]="step3">
      <h3>Step 3: Upload File for {{ step1.get('title')?.value }}</h3>
      <input type="file" (change)="onFileSelected($event)" *ngIf="hasIntegration">
      <p *ngIf="selectedFile">{{ selectedFile.name }}</p>

      <span *ngIf="!hasIntegration" class="no-integration">
        <p>This book has been saved, but you cannot upload any files at this time.</p>
        <p>To be able to upload files, first connect your cloud storage</p>
        <button mat-button id="connect-drive" [routerLink]="['/account/integrations']">Connect Storage</button>
      </span>

      <button mat-button matStepperPrevious>Back</button>
      <button mat-button id="upload-file" (click)="uploadFileWithBookId()" *ngIf="hasIntegration" matStepperNext>Upload</button>
      <button mat-button id="skip-file" (click)="skipFile()" *ngIf="hasIntegration">Skip</button>
      <button mat-button id="skip-file-no-integration" (click)="skipFile()" *ngIf="!hasIntegration">Finalize</button>
    </mat-step>
  </mat-stepper>
</div>
