@import "pdfjs-dist/web/pdf_viewer.css";

/* default: light theme */
:root {
  --bg-color: #faf3e0;
  --text-color: #333;
  --surface-bg: #e8dbc2;
  --border-color: #ccc;
  --button-bg: #00a6a6;
  --button-text: #faf3e0;
  --title-color: #2e2e2e;
  --subtitle-color: #3a3a3a;
  --primary: #66cfcf;
  --accent: #c2a0e0;
  --warn:#ef5350;
  --footer-h: 60px;
}

/* dark theme */
.dark-mode {
  --bg-color: #1c1c1e;
  --text-color: #e3e3e3;
  --surface-bg: #2e2e2e;
  --border-color: #3d3d42;
  --button-bg: #00a6a6;
  --button-text: #eaeaea;
  --title-color: #e3e3e3;
  --subtitle-color: #e5e5e5;
  --primary: #00a6a6;
  --accent: #9b6bcc;
  --warn: #ef5350;
}

/*high-contrast theme*/
.high-contrast-mode {
  --bg-color: #000000;
  --text-color: #ffffff;
  --surface-bg: #000000;
  --border-color: #ffffff;
  --button-bg: #00cccc;
  --button-text: #000000;
  --title-color: #000000;
  --subtitle-color: #000000;
  --primary: #00cccc;
  --accent: #d09bff;
  --warn: #f26969;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background 0.3s ease, color 0.3s ease;
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow: auto;
}

mat-form-field {
  --mat-form-field-container-background-color: var(--bg-color);
  --mat-form-field-container-text-color: var(--text-color);
  --mat-form-field-container-border-color: var(--border-color);
}

  mat-form-field .mat-mdc-text-field-wrapper,
  mat-form-field textarea {
    background-color: var(--bg-color) !important;
    color: var(--text-color) !important;
  }

  mat-form-field input,
  mat-form-field select {
    background-color: var(--bg-color) !important;
    color: var(--text-color) !important;
  }

  mat-form-field label {
      color: var(--text-color) !important;
      opacity: 0.7;
  }

mat-select {
  background-color: var(--bg-color) !important;
  color: var(--text-color) !important;
}

.mat-mdc-select-panel {
  background-color: var(--bg-color) !important;
  color: var(--text-color) !important;
}

.mat-mdc-option {
  background-color: var(--bg-color) !important;
  color: var(--text-color) !important;
}

  .mat-mdc-option:hover {
    background-color: var(--surface-bg) !important;
  }

input, select {
  background-color: var(--bg-color) !important;
  color: var(--text-color) !important;
}

::placeholder {
  color: var(--text-color);
  opacity: 0.7;
}

.card {
  background-color: var(--surface-bg);
  border: 1px solid var(--border-color);
  color: var(--text-color);
}

.card-title {
  color: var(--title-color) !important;
}

.card-subtitle {
  color: var(--subtitle-color) !important;
}

button {
  background-color: var(--button-bg);
  color: var(--button-text);
  border: none;
  padding: 8px 12px;
  margin: 8px;
  border-radius: 5px;
  cursor: pointer;
}

  button:hover {
    opacity: 0.9;
  }

  button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

html {
  height: 100%;
}

table,
th,
td {
  background: var(--bg-color) !important;
  color: var(--text-color) !important;
}

mat-tab-group,
mat-tab {
  margin-top: 20px;
  background-color: var(--bg-color);
  color: var(--title-color) !important;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.mat-mdc-tab-group .mat-mdc-tab .mdc-tab__content .mdc-tab__text-label {
  color: var(--text-color) !important;
}

.mat-progress-spinner circle,
.mat-spinner circle {
  stroke: var(--primary) !important;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-color);
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
