<div class="account-settings-container">
  <h2>Reset Password</h2>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" required email>
    </mat-form-field>

    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    <div *ngIf="message" class="success-message">{{ message }}</div>

    <button mat-raised-button color="primary" type="submit" [disabled]="loading">
      {{ loading ? 'Sending...' : 'Send Reset Link' }}
    </button>
  </form>
</div>
