<div class="container mt-4">
    <div class="overlay" *ngIf="isFinalizing">
    <mat-spinner class="mat-spinner"></mat-spinner>
    <p>Please wait while we load your books...</p>
  </div>
  <div class="book-wrapper">
    <button mat-button id="add-book" (click)="addBook()">
      <mat-icon class="add-book-icon">add</mat-icon>Add New Book
    </button>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Search Books</mat-label>
      <input matInput type="text" [(ngModel)]="searchQuery" (input)="filterBooks()" placeholder="Search by Title or Author" />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>

  <div class="book-container">
    <div class="book" *ngFor="let book of filteredBooks">      
      <div class="book-cover" (click)="viewBookDetails(book)">
        <h5 class="book-title">{{ book.title }}</h5>
        <h6 class="book-author">{{ book.author || "Unknown Author"}}</h6>
        <div class="book-spine"></div>
      </div>
    </div>
  </div>
</div>
