<div class="container mt-4">
  <div class="book-wrapper">
    <button mat-button *ngIf="hasCreatePermission()" id="add-book" (click)="addBook()">
      <mat-icon class="add-book-icon">add</mat-icon>Add New Book
    </button>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Search Books</mat-label>
      <input matInput type="text" [(ngModel)]="searchQuery" (input)="filterBooks()" />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>
  
  <div class="book-container">
    <div class="book" *ngFor="let book of filteredBooks">      
      <div class="book-cover" (click)="viewBookDetails(book)">
        <span 
            class="read-icon-wrapper" 
            (click)="openBookViewer(book, $event)" 
            *ngIf="book.fileId && !book.isRestricted"
            matTooltip="Read this book">
          <mat-icon class="read-icon">menu_book</mat-icon>
        </span>
        <span 
            class="read-icon-wrapper"
            *ngIf="book.isRestricted"
            matTooltip="This book is under investigation and cannot be accessed">
          <mat-icon class="restricted-icon">block</mat-icon>
        </span>
        <h5 class="book-title" [matTooltip]="book.title.length > 50 ? book.title : ''">{{ book.title }}</h5>
        <h6 class="book-author" [matTooltip]="book.author && book.author.length > 18 ? book.author : ''">{{ book.author || "Unknown Author"}}</h6>
        <div class="book-spine"></div>
      </div>
    </div>
  </div>

  <div class="inline-loading" *ngIf="isLoading">
    <mat-spinner class="mat-spinner"></mat-spinner>
    <p>Loading more books...</p>
  </div>

  <div class="load-more-container" *ngIf="!isLoading && !allBooksLoaded">
    <button mat-stroked-button color="primary" (click)="loadBooks()">
      <mat-icon>expand_more</mat-icon>
      Load More Books
    </button>
  </div>
</div>
